<div class="features-detailed modal-full-screen" style="display: none">
    <div class="modal-wrapper">
        <div class="top-navigation">
            <button class="close">
                <span>@Ifly.Resources.Frontpage.Close</span>
            </button>
        </div>

        <div class="modal-wrapper-inner">
            <h3 class="no-shift">@Ifly.Resources.Frontpage.Features_Title</h3>
            <hr class="no-shift" />

            <ul>
                <li class="item-1">
                    <div class="left">
                        <img src="@Url.Content("~/Assets/img/features/ease-of-use.png")" />
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_EaseOfUse_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_EaseOfUse_Description)</p>
                        </div>
                    </div>
                </li>
                <li class="item-2">
                    <div class="right">
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_MultiSlide_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_MultiSlide_Description)</p>
                        </div>
                        <img src="@Url.Content("~/Assets/img/features/multi-slide.png")" />
                    </div>
                </li>
                <li class="item-3">
                    <div class="left">
                        <img src="@Url.Content("~/Assets/img/features/html5.png")" />
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_HTML5_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_HTML5_Description)</p>
                        </div>
                    </div>
                </li>
                <li class="item-4">
                    <div class="right">
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_Responsive_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_Responsive_Description)</p>
                        </div>
                        <img src="@Url.Content("~/Assets/img/features/responsive.png")" />
                    </div>
                </li>
                <li class="item-5">
                    <div class="left">
                        <img src="@Url.Content("~/Assets/img/features/building-blocks.png")" />
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_Blocks_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_Blocks_Description)</p>
                        </div>
                    </div>
                </li>
                <li class="item-6">
                    <div class="right">
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_Themes_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_Themes_Description)</p>
                        </div>
                        <img src="@Url.Content("~/Assets/img/features/themes-v2.png")" />
                    </div>
                </li>
                <li class="item-7">
                    <div class="left">
                        <img src="@Url.Content("~/Assets/img/features/import.png")" />
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_Import_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_Import_Description)</p>
                        </div>
                    </div>
                </li>
                <li class="item-8">
                    <div class="right">
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_Password_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_Password_Description)</p>
                        </div>
                        <img src="@Url.Content("~/Assets/img/features/password.png")" />
                    </div>
                </li>
                <li class="item-9">
                    <div class="left">
                        <img src="@Url.Content("~/Assets/img/features/live-data.png")" />
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_LiveData_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_LiveData_Description)</p>
                        </div>
                    </div>
                </li>
                <li class="item-10">
                    <div class="right">
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_Sharing_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_Sharing_Description)</p>
                        </div>
                        <img src="@Url.Content("~/Assets/img/features/sharing.png")" />
                    </div>
                </li>
                <li class="item-11">
                    <div class="left">
                        <img src="@Url.Content("~/Assets/img/features/download-image.png")" />
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_DownloadImage_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_DownloadImage_Description)</p>
                        </div>
                    </div>
                </li>
                <li class="item-12">
                    <div class="right">
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_Video_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_Video_Description)</p>
                        </div>
                        <img src="@Url.Content("~/Assets/img/features/video.png")" />
                    </div>
                </li>
                <li class="item-13">
                    <div class="left">
                        <img src="@Url.Content("~/Assets/img/features/collaboration.png")" />
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_Collaboration_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_Collaboration_Description)</p>
                        </div>
                    </div>
                </li>
                <li class="item-14">
                    <div class="right">
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_Developer_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_Developer_Description)</p>
                        </div>
                        <img src="@Url.Content("~/Assets/img/features/developer.png")" />
                    </div>
                </li>
                <li class="item-15">
                    <div class="left">
                        <img src="@Url.Content("~/Assets/img/features/support.png")" />
                        <div class="description">
                            <h4>@Ifly.Resources.Frontpage.Features_Support_Title</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Features_Support_Description)</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
