<div class="pricing-faq modal-full-screen" style="display: none">
    <div class="modal-wrapper">
        <div class="top-navigation">
            <button class="close">
                <span>@Ifly.Resources.Frontpage.Close</span>
            </button>
        </div>

        <div class="modal-wrapper-inner">
            <h3>@Ifly.Resources.Frontpage.Pricing_FAQ_Title</h3>
            <hr />

            <ul>
                <li class="item-1 no-separator">
                    <div class="left">
                        <div class="description stretch">
                            <h4>@Ifly.Resources.Frontpage.Pricing_FAQ_1_Q</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Pricing_FAQ_1_A)</p>
                        </div>
                    </div>
                </li>
                <li class="item-2 no-separator">
                    <div class="left">
                        <div class="description stretch">
                            <h4>@Ifly.Resources.Frontpage.Pricing_FAQ_2_Q</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Pricing_FAQ_2_A)</p>
                        </div>
                    </div>
                </li>
                <li class="item-3 no-separator">
                    <div class="left">
                        <div class="description stretch">
                            <h4>@Ifly.Resources.Frontpage.Pricing_FAQ_5_Q</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Pricing_FAQ_5_A)</p>
                        </div>
                    </div>
                </li>
                <li class="item-4 no-separator">
                    <div class="left">
                        <div class="description stretch">
                            <h4>@Ifly.Resources.Frontpage.Pricing_FAQ_3_Q</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Pricing_FAQ_3_A)</p>
                        </div>
                    </div>
                </li>
                <li class="item-5 no-separator">
                    <div class="left">
                        <div class="description stretch">
                            <h4>@Ifly.Resources.Frontpage.Pricing_FAQ_4_Q</h4>
                            <p>@Html.Raw(Ifly.Resources.Frontpage.Pricing_FAQ_4_A)</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>